<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperação de Senha</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #fafafa;
            color: #222;
            margin: 0;
            padding: 0;
            line-height: 1.6;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            color: #333;
            text-align: center;
        }
        p {
            font-size: 16px;
            line-height: 1.5;
            margin-bottom: 20px;
        }
        .button {
            display: inline-block;
            background-color: rgba(249,162,24,1);
            color: #ffffff;
            text-decoration: none;
            padding: 10px 20px;
            border-radius: 5px;
            text-align: center;
            font-size: 18px;
            margin: 0 auto;
            display: block;
            width: fit-content;
        }
        .button:hover {
            background-color: rgba(249,162,24, 0.8);
        }
        .button a {
            color: #fff;
        }
        .footer {
            margin-top: 30px;
            text-align: center;
            font-size: 14px;
            color: #777777;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Password Recover</h1>
        <p>Hello,</p>
        <p>We have received a request to reset your password. If you made this request, click the button below to reset your password:</p>
        <a href="https://ressurgersps.com/password/recover?token={{token}}" class="button">Redefinir Senha</a>
        <p>If you have not requested a password reset, please ignore this email. Your password will remain secure.</p>
        <p>Thanks,<br>Team Ressurge.</p>
        <div class="footer">
            <p>This is an automated email, please do not respond.</p>
        </div>
    </div>
</body>
</html>
